.courses {
  background: linear-gradient(#fff, #f0f1ff);

  .wrapper {
    display: grid;
    row-gap: 60px;
    padding-block: 64px 80px;
  }

  .block {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  p {
    flex-grow: 1;
  }

  .title {
    background: var(--color-gradient-pink);
    padding: 32px;
  }

  .course {
    background-color: var(--color-white);
    padding: 64px 32px 40px;
    position: relative;
  }

  img {
    position: absolute;
    top: 0;
    translate: 0px -50%;
  }

  @media (min-width: 680px) {
    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
      padding-top: 92px;
    }

    .title {
      padding: 64px 32px 144px;
    }
  }

  @media (min-width: 1120px) {
    .wrapper {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 32px;
      row-gap: 84px;
    }
  }
}
